#main{
	background-color: black;
	color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	}
#banner{
	background-color: red;
	margin-left: auto;
	margin-right; auto;
	}

#navigation{
	background-color: yellow;
	width: 150px;
	color: black;
	float: left;
	}
	
#text{
	background-color: blue;
	padding: 10px;
	width: 630px;
	float: left;
	}
	
#footer{
	background-color: green;
	width: 800px;
	clear: both;
	}